$purple: #312c32;
$gold: #a4814a;
$grey: #f8f7f3;
$blue: #b6c9e3;
$teal: #00afac;
@mixin transition($args) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin transform($args) {
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}
@mixin border-radius($args) {
    -webkit-border-radius: $args;
    -moz-border-radius: $args;
    -ms-border-radius: $args;
    -o-border-radius: $args;
    border-radius: $args;
}

body {
    background-color: $purple;
    color: #fff;
    min-height: 2000px;
    padding-top: 115px;
}

@media (min-width: 1400px) {
    .container {
        width: 1300px;
    }
}

h1 {
    font-size: 30.23pt;
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.divider {
    border-top: 5px solid $gold;
    width: 100px;
    margin: 15px auto 15px auto;
    +p{
        margin-bottom: 30px;
    }
    &.purple{
        border-top: 5px solid $purple !important;
    }
}

.pt25 {
    padding-top: 25px;
}

.goldbg {
    background-color: $gold;
    color: $purple;
    a {
        color: $purple;
    }
}

.btn-gold {
    border: 2px solid $gold;
    color: $gold;
    background-color: transparent;
    @include border-radius(0px);
    padding: 10px 25px;
    &:hover {
        background-color: $gold;
        color: #fff;
        @include transition(background-color 0.2s linear);
        @include transition(color 0.2s linear);
    }
}
.btn-purple {
    border: 2px solid $purple;
    color: $purple;
    background-color: transparent;
    @include border-radius(0px);
    padding: 10px 25px;
    &:hover {
        background-color: $purple;
        color: #fff;
        @include transition(background-color 0.2s linear);
        @include transition(color 0.2s linear);
    }
}
/*navigation*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        padding: 14px 15px;
        margin-top: 13px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar-default {
    min-height: 100px;
    background-color: $purple;
    border-bottom: none;
    @include transition(all 0.4s ease);
    &.shrink {
        min-height: 70px;
        -webkit-box-shadow: 0 8px 6px -6px #000;
        -moz-box-shadow: 0 8px 6px -6px #000;
        box-shadow: 0 8px 6px -6px #000;
        img {
            @include transition(all 0.4s ease);
            height: 50px;
            width: auto;
        }
        .navbar-brand {
            height: 80px;
        }
    }
    .navbar-brand {
        height: 115px;
    }
    img {
        @include transition(all 0.4s ease);
        height: 90px;
        width: auto;
    }
    li {
        padding: 10px;
        // padding-right: 8px;
        // padding-left: 8px;
        font-size: 16px;
        // &:not(:last-child){
        //         border-right: 1px solid #fff;
        // }
        
        a {
            color: #fff !important;
            line-height:0px;
            @media screen and (min-width: 1337px){
                padding: 10px 15px !important;
            }
            padding: 10px 11px !important;
        }
    }
    .active>a{
        background-color: transparent !important;
        color: $gold !important;
    }
    .navbar-collapse{
        min-height: 70px;
    }
}

section {
    text-align: center;
    padding: 120px 0;
    .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: #fff;
        content: '';
        opacity: 1;
        -webkit-font-smoothing: antialiased;
    }
    &.patternbg {
        background: url('../img/pattern.png');
        background-color: $grey;
        color: $purple;
        .slick-dots li button:before {
            background-color: $purple;
        }
    }
}

small {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
}

#video {
    background-color: $teal;
    a {
        color: $purple !important;
        font-weight: 600;
    }
}

/*footer*/

footer {
        padding: 30px;
        color: #fff !important;
        font-size: 18px;
        a{
            color: $gold !important;
            font-weight: bold;
        }
    ul {
        li {
            margin-right: 30px;
        }
    }
    h4{
        margin-top: 30px;
        margin-bottom: 20px;
        font-weight: 400;
    }
}
#amenitiescontainer{
    display: none;

}
.fancybox-button{
    width: 70px !important;
}
.activeamenities{
    background-color: $gold;
    color: #fff;
    &:focus{
        color: #fff;
    }
}
#floorplanscontainer{
    display: none;
    .suites-box {
        text-align: center;
        color: #fff;
        height: auto;
        cursor: pointer;
        .apt {
            padding-top: 16%;
            font-size: 50px;
        }
        .detail {
            margin-top: 30px;
            padding-bottom: 16%;
            p {
                font-weight: 300;
                padding: 0;
                margin: 0;
            }
        }
    }
}
.filters-button-group{
    button{
        color: #fff;
        padding: 5px 15px;
        font-size: 17px;
        margin-right: 10px;
        outline: none;
        border: none;
        // &:nth-child(1){background: #b2855a};
        &:nth-child(1){background: #a0b5ce};
        &:nth-child(2){background: #00b0ad};
        &:nth-child(3){background: #030e49};
        &:nth-child(4){background: #302e32};
        &:nth-child(5){background: #aeaca1};
    }
    @media screen and (max-width:768px){
        button{
            float:left;
            margin-bottom: 10px;
            width: 47%;
            display:block;
        }
    }
}


#map {
    height: 600px;
    width: 100%;
    border: 7px solid #9d833f;
}
.form-control{
    @include border-radius(0px);
    height: 50px;
    background-color: #3e383f;
    color: #fff;
    &:focus{
        box-shadow: none;
        border-color: $gold;
    }
}

.disclaimer{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 10px;
    text-align: left;
}

#contact{
    padding:0;
   padding-bottom: 35px;
}

@media screen and (max-width:768px){

    h1{
        font-size: 29px;
    }
}
section{
    &:first-of-type{
        padding-top: 35px;
    }
}


select{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include border-radius(0px);
    z-index: 1;
    background-image: url('../img/selectbg.png') !important;
    background-position: right 10px center;;
    background-repeat: no-repeat;
    background-size: 17px auto;
    border: 0px;

}

.activepoint{
    font-weight: bold;
}

@media screen and (min-width:769px){
.videowrapper {
    position: relative;
    cursor: pointer;
    max-width: 1260px;
    margin: 0 auto;
    .videocontent {
      position: absolute;
      color: #fff;

      z-index: 9999;
      width: 100%;
      height: 100%;

      .playbutton {
        @include transform(translate(-50%, -50%));
        -ms-transform:translate(-50%, -50%);
        top: 50%;
        left: 50%;
        display: block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: absolute;
        border: 3px solid $purple;
        text-align: center;
        text-decoration: none;
        background-color: #fff;
        color: $purple;
        margin: 0 auto;
        @include transition(background-color .3s ease-out);
        @include border-radius(50%);
        span {
          font-size: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transition(color .3s ease-out);
          @include transform(translate(-50%, -50%));
          -ms-transform:translate(-50%, -50%);
        }
      }
    }
    &:hover {
      .playbutton {
        border: 3px solid #fff;
        background-color: $purple;
        span {
          color: #fff;
        }
      }
    }
  }
}